label{
    font-size: 15px;
}

.my-input {
    align-items: flex-start;
    gap: 5px;
  }
  
  .my-input > label {
    font-size: 12px;
  }
  
  .my-input > input {
    border: 1px solid grey;
    margin: 3px 0;
    padding: 2px 8px;
    font-size: 12px;
    height: 35px;
    outline: none;
  }
  