.social-container {
    margin: 20px 0;
  }
  
  .social-container {
    display: flex;
    justify-content: space-around;
  }

  .social-container a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
  }
  .social {
    font-size: 24px;
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .social:hover {
    color: #007bff; /* Change color on hover */
  }